.navbar {
    position: fixed;
    top: 1vh;
    width: 80%; 
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    background-color: rgba(80, 200, 120, 1);
    padding: 10px 20px;
    margin: 40px 60px;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(191, 69, 69, 0.1);
}

.navLogo h1 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
}
  
.navLinks {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0 10px;
}
  
.navLinks li a {
    text-decoration: none;
    color: var(--text-color);
    color: rgb(199, 8, 8);
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
}
  
.navLinks li a:hover {
  color: var(--primary-color);
}

.themeToggle{
  padding: 0 5px;
}

.themeToggle img{
  width: 80%; 
  height: auto; 
}

@media (width >= 1400px) {
  .navbar{
    margin: 40px 40px 60px 40px;
  }
  .navLogo h1 {
    font-size: 2.5rem;
  }
  .navLinks li a {
    font-size: 1.5rem;
  }
  .themeToggle img{
    width: 100%; 
    height: auto; 
  }

}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
   
    .hero {
      max-width: 200px;
    }

    .colorModeContainer img {
      border-radius: 100%;
    }
  
    span {
      display: flex;
      gap: 25px;
      justify-content: center;
  
      a {
        margin: 0;
  
        img {
          width: 30px;
        }
      }
    }
  
    a {
      width: fit-content;
      align-self: center;
    }
  
    button {
      background-color: var(--btn-color);
      color: var(--btn-text-color);
      border: none;
      border-radius: 20px;
      width: 126px;
      height: 50px;
      font-size: 20px;
      font-weight: bold;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }
  
    button:hover {
      transform: scale(1.05);
    }
  
    button:active {
      transform: translateY(2px);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
  }
  
  .colorModeContainer {
    position: relative;
  }
  
  .colorMode {
    position: absolute;
    right: 0;
    width: 25px;
  }
  
  .colorMode:hover {
    cursor: pointer;
  }
  

  
  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  @media (width >= 800px) {
    .container {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
  
      .hero {
        max-width: 350px;
        width: 350px;
      }
  }

  @media (width >= 1400px) {

    .container{
      margin-top: 40px;
      margin-bottom: 0px;
    }

    

  }

}