:root {
    --background-color: #fff;
    --btn-color: #0987f2;
    --btn-text-color: #fff;
    --text-color: #222;
    --primary-color: #0987f2;
    --secondary-color: #6c63ff;
    --project-card-bg: #ffffff00;
    --form-text-color: #555;
    --footer-text-color: #888;
}
  
[data-theme='dark'] {
    --background-color: #222;
    --btn-color: #0987f2;
    --btn-text-color: #222;
    --text-color: #a714e5;
    --primary-color: #a714e5;
    --secondary-color: #ff9c00;
    --project-card-bg: #ffffff00;
    --form-text-color: #ccc;
    --footer-text-color: #aaa;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    transition: background-color 0.3s ease-in-out;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1, h2, p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: color 0.3s ease-in-out;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 300;
}

button {
    cursor: pointer;
}
  
.sectionTitle {
    margin-bottom: 30px;
}
  
.hover {
    cursor: pointer;
}

@media (width >= 800px) {
    #root {
      gap: 100px;
    }
    h1 {
      font-size: 40px;
    }
    h2,
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
    }
  
    .sectionTitle {
      margin-bottom: 60px;
    }
}


@media (width >= 1400px) {
    #root {
      gap: 200px;
    }
    h1 {
      font-size: 48px;
    }

    .sectionTitle {
      margin-bottom: 60px;
    }
}
  